<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Configure and manage price lists for sites aggregators</title>
    <link rel="stylesheet" type="text/css" href="/assets/stylesheets/simple.css"/>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
    <META content="text/html; charset=utf-8" http-equiv="Content-Type">
</head>


<body>

<div id="container">
    <div id="header"> <a href="#">Tools for servicing the online store</a> </div>
    <div id="menu"> <a  href="#">HOME</a> &nbsp; &nbsp; &nbsp; &nbsp; <a  href="#">SERVICES</a> &nbsp; &nbsp; &nbsp; &nbsp; <a  href="#">PRICE</a> &nbsp; &nbsp; &nbsp; &nbsp; <a href="#">CONTACTS</a>  </div>
    <div id="sidebar">
        <ul id="nav">
            <li><a href="/assets/html/actualization.html">Actualization</a></li>
            <li><a href="/assets/html/hotprice.html">Price List Creator</a>
                <ul>
                    <li><a href="#">service first</a></li>
                    <li><a href="#">service second</a></li>
                </ul>
            </li>
            <li><a href="#">products</a></li>
            <li><a href="#">contact</a></li>
        </ul>
        </br>



    </div>

    <div id="wrapp">
        <div id="button">
        </div>

        <div id="main">
            <div id="categories"></div>
            <br>


        </div>
    </div>
    <div id="footer"> Download  <a align="left" href="/flashshop/log" > log file </a>  </div>
</div>

</body>
</html>


